#announce{
    background-color: #A8DF8E;
    padding: 0;
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    z-index: 999;

}
.headers_text_title{
    background-color: #004225;
    color: white;
    text-align: center;
    font-size: 15px;
}

.carousel {
	display: inline-flex;
	transition: 0.5s all;
}

/* Visual Only Styles */

.carousel-wrap {
	text-align: center;
    overflow: hidden;
	max-width: 100%;
	margin: 0 auto;
	visibility: hidden;
}

.carousel div {
	background-color: white;
	color: white;
	margin: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	overflow: hidden;
    height: 120vh;
}

.carousel img {
	width: 100%;
    height: 50%;
	margin-top: auto;
}

h1 {
	font-family: Lato, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 1.5em;
	text-transform: uppercase;
	padding: 1em 0 0 0;
}

p {
	padding: 0 20px 1em 20px;
	opacity: 0.7;
	font-family: Georgia, Cambria, Times New Roman, Times, serif;
}

button {
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 1rem;
	font-weight: 700;
	background-color: #d7d7d7;
	text-align: center;
	padding: 0.8em 0.5em;
	min-width: 64px;
	outline: none;
	border: 0;
	border-radius: 4px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	cursor: pointer;
	transition: all 0.2s;
}

button:hover {
	background-color: #999999;
}
