.menu-event {
    background-color: #a8df8e;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.sub-menu-event {
    display: grid;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}
#slideshow {
    margin: auto;
    padding-top: 10px;
    height: 600px;
    width: 100%;
    background-color:  #a8df8e;
    box-sizing: border-box;
}

.slideshow-title {
    font-family: 'Allerta Stencil';
    font-size: 32px;
    color: black;
    margin: 0 auto;
    text-align: center;
    margin-top: 0%;
    letter-spacing: 3px;
    font-weight: 100;
}

.entire-content {
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
    padding-top: 10px;
}

.content-carousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotate 30s infinite linear;
    transform-style: preserve-3d;
}

.content-carousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carousel figure {
    width: 100%;
    height: 120px;
    border: 1px solid #fff;
    overflow: hidden;
    position: absolute;
}

/* If you have more images let's say n ones. Then you need to duplicate below units to nth-child(n + 1), and you need to fix the new degree numbers in rotateY() as well. The formula is 360deg / n for each increment. The first child will always be 0 deg and the last will be 360deg. */
.content-carousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
} .content-carousel figure:nth-child(2) {
    transform: rotateY(90deg) translateZ(300px);
} .content-carousel figure:nth-child(3) {
    transform: rotateY(180deg) translateZ(300px);
} .content-carousel figure:nth-child(4) {
    transform: rotateY(270deg) translateZ(300px);
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #1e7e34;
    border-radius: 5px;
}

.content-carousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.content-carousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
    opacity: 0.7;
}

@keyframes rotate {
    from {tranform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #1e7e34;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Animation */
.modal-content, .caption {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {transform: scale(0.1);}
    to {transform: scale(1);}
}

/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

