.footer {
    background-color: #004225; /* Background color for the footer */
    color: #fff; /* Text color for the copyright notice */
    text-align: center; /* Center-align the text */
    padding: 20px 0; /* Add some padding for spacing */
    position: block;
    width: 100%;
    margin-top: 90%;
}
