.topnav .dropdown {
    padding: auto;
    display: fixed;
}
.topnav .dropdown .navigation{
    margin: 10px;
}
.topnav .dropdown .navigation:hover{
    color:green;
    text-decoration: none;
}
.card-body-career{
    height: 100px;
    margin-bottom: 50px;
}



