/* #loginDIV .container{
    height: 50%;
} */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("../images/CNHS_IMAGE/330179308_1517563695439831_5852183554775651906_n.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.card {
    /* background: linear-gradient(#16FF00, #1A5D1A); */
    height: 80vh;
    /* height: 0; */
    margin-top: 10%;
    color: black;
    box-shadow: 3px 3px 3px 2px black;
}
.card:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background: linear-gradient(#004225, #1e7e34);
    color: white;
}
#required_user {
    color: black;
}
.card:hover #required_user {
    color: white;
}
.btn:hover {
    background: #16ff00;
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 5px #16ff00, 0 0 5px #16ff00, 0 0 5px #16ff00,
        0 0 5px #16ff00;
}
@media (max-width: 768px) {
    /* Media query for screens smaller than 768px */

    .card {
        /* background: linear-gradient(#16FF00, #1A5D1A); */
        height: 80vh;
        /* height: 0; */
        margin-top: 10%;
        color: black;
        background: linear-gradient(#004225, #1e7e34);
        box-shadow: 3px 3px 3px 2px black;
    }

    .card:hover {
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
        background: linear-gradient(#004225, #1e7e34);
        color: white;
    }

    #required_user {
        color: black;
    }

    .card:hover #required_user {
        color: white;
    }

    .btn:hover {
        background: #16ff00;
        border-radius: 5px;
        color: black;
        box-shadow: 0 0 5px #16ff00, 0 0 5px #16ff00, 0 0 5px #16ff00, 0 0 5px #16ff00;
    }
}




