.menu_class {
    height: 50%;
}
.headers_text_request {
    background-color: #004225;
    color: white;
    text-align: center;
    font-size: 15px;
}
.headers_textTitle{
    background-color: #004225;
    color: white;
    text-align: center;
    font-size: 15px;
}


.request_form {
    display: flex;
    justify-content: center;
}
.form_for_request {
    border: 1px solid #e2e2e2; /* Replace with your desired border style */
    padding: 1.25rem;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .form_for_request {
        width: 100%;
    }

}
