
  /* Fixed sidenav, full height */


  /* Style the sidenav links and the dropdown button */


  /* On mouse-over */


  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  span{
    font-size: 70%;
  }
  .sidenav .menu:hover{
    background-color:   rgb(93, 201, 251);
    color: whitesmoke;
    box-shadow: 10px 5px 5px black;
    text-decoration: none;
  }
  .sidenav #menu2:hover{
    background-color:   white;
    color: black;
    box-shadow: 10px 5px 5px black;
  }
  .sidenav #menu2 a:hover{
    color: black;
  }
