.container{
    margin-top: 20px;
    margin-right: 10%;
}

table{
    padding: 20px;  
}
table thead{
    width: 50px;
    height: 5px;
}
table tbody{
    width: 100%;
}
#create_user{
    margin-left: 90%;
    background-color: green;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
}
.table-x1{
    width: 100%;
}

